body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111827;
    font-family:sans-serif;
}

#toggle{
    display:none;
}

.toggle{
    width:120px;
    height:60px;
    background:#1f2937;
    border-radius:60px;
    position:relative;
    cursor:pointer;
    overflow:hidden;
    box-shadow:0 0 15px rgba(255,255,255,0.1);
}

.knob{
    width:50px;
    height:50px;
    background:white;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:5px;
    transition:0.5s ease;
}

.icon{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:22px;
    transition:0.5s;
}

.sun{
    left:15px;
}

.moon{
    right:15px;
}

#toggle:checked + .toggle .knob{
    left:65px;
    transform:rotate(360deg);
    background:#facc15;
    box-shadow:0 0 15px #facc15;
}

#toggle:checked + .toggle{
    background:#0f172a;
}

#toggle:checked + .toggle .moon{
    transform:translateY(-50%) scale(1.2);
}

#toggle:checked + .toggle .sun{
    opacity:0.4;
}